<?xml version="1.0" encoding="utf-8"?><manifest xmlns:android="http://schemas.android.com/apk/res/android"
xmlns:tools="http://schemas.android.com/tools">

<!-- Storage -->
<uses-permission
    android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
    tools:ignore="AllFilesAccessPolicy,ScopedStorage" />

<!-- Notifications -->
<uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

<!-- Network -->
<uses-permission android:name="android.permission.INTERNET" />
<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

<!-- Audio -->
<uses-permission android:name="android.permission.RECORD_AUDIO" />

<!-- Camera -->
<uses-permission android:name="android.permission.CAMERA" />
<uses-permission android:name="android.permission.FOREGROUND_SERVICE_CAMERA" />

<uses-feature
    android:name="android.hardware.camera.any"
    android:required="false" />

<!-- Foreground services -->
<uses-permission
    android:name="android.permission.FOREGROUND_SERVICE"
    tools:ignore="ForegroundServicesPolicy" />

<uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />

<!-- USB -->
<uses-feature
    android:name="android.hardware.usb.host"
    android:required="false" />

<application
    android:name=".DroidVMApp"
    android:allowBackup="true"
    android:appCategory="game"
    android:dataExtractionRules="@xml/data_extraction_rules"
    android:fullBackupContent="@xml/backup_rules"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:localeConfig="@xml/locales_config"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/Theme.DroidVM"
    android:usesCleartextTraffic="true">

    <!-- ========================================================= -->
    <!-- Shizuku                                                   -->
    <!-- ========================================================= -->
    <provider
        android:name="rikka.shizuku.ShizukuProvider"
        android:authorities="${applicationId}.shizuku"
        android:enabled="true"
        android:exported="true"
        android:multiprocess="false"
        android:permission="android.permission.INTERACT_ACROSS_USERS_FULL" />

    <!-- ========================================================= -->
    <!-- Launcher                                                   -->
    <!-- ========================================================= -->

    <activity
        android:name=".ui.SplashActivity"
        android:exported="true"
        android:theme="@style/Theme.DroidVM.Splash"
        android:windowSoftInputMode="adjustNothing">

        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>

    </activity>

    <!-- ========================================================= -->
    <!-- Setup                                                      -->
    <!-- ========================================================= -->

    <activity
        android:name=".ui.setup.SetupActivity"
        android:configChanges="orientation|screenSize|keyboardHidden|screenLayout|smallestScreenSize"
        android:exported="false"
        android:theme="@style/Theme.DroidVM.NoActionBar"
        android:windowSoftInputMode="adjustNothing" />

    <!-- ========================================================= -->
    <!-- Main                                                       -->
    <!-- ========================================================= -->

    <activity
        android:name=".ui.main.MainActivity"
        android:configChanges="orientation|screenSize|keyboardHidden|screenLayout|smallestScreenSize"
        android:exported="false"
        android:theme="@style/Theme.DroidVM.NoActionBar"
        android:windowSoftInputMode="adjustNothing" />

    <!-- ========================================================= -->
    <!-- VM                                                         -->
    <!-- ========================================================= -->

    <activity
        android:name=".ui.vm.edit.VMEditActivity"
        android:configChanges="orientation|screenSize|keyboardHidden|screenLayout|smallestScreenSize"
        android:exported="false"
        android:theme="@style/Theme.DroidVM.NoActionBar"
        android:windowSoftInputMode="adjustNothing" />

    <activity
        android:name=".ui.vm.info.VMInfoActivity"
        android:configChanges="orientation|screenSize|keyboardHidden|screenLayout|smallestScreenSize"
        android:exported="false"
        android:theme="@style/Theme.DroidVM.NoActionBar"
        android:windowSoftInputMode="adjustNothing" />

    <activity
        android:name=".ui.vm.console.VMConsoleActivity"
        android:configChanges="orientation|screenSize|keyboardHidden|screenLayout|smallestScreenSize"
        android:exported="false"
        android:theme="@style/Theme.DroidVM.NoActionBar.Dark"
        android:windowSoftInputMode="adjustNothing" />

    <activity
        android:name=".ui.vm.display.vnc.display.VMVncDisplayActivity"
        android:configChanges="orientation|screenSize|keyboardHidden|screenLayout|smallestScreenSize"
        android:exported="false"
        android:theme="@style/Theme.DroidVM.NoActionBar.Dark"
        android:windowSoftInputMode="adjustNothing" />

    <activity
        android:name=".ui.vm.display.vnc.display.VMVncPresentationActivity"
        android:configChanges="orientation|screenSize|keyboardHidden|screenLayout|smallestScreenSize"
        android:exported="false"
        android:theme="@style/Theme.DroidVM.NoActionBar.Dark"
        android:windowSoftInputMode="adjustNothing" />

    <activity
        android:name=".ui.vm.display.nativedisplay.display.VMNativeDisplayActivity"
        android:configChanges="orientation|screenSize|keyboardHidden|screenLayout|smallestScreenSize"
        android:exported="false"
        android:theme="@style/Theme.DroidVM.NoActionBar.Dark"
        android:windowSoftInputMode="adjustNothing" />

    <!-- ========================================================= -->
    <!-- Package import/export                                      -->
    <!-- ========================================================= -->

    <activity
        android:name=".ui.vm.pkg.exports.VMPkgExportActivity"
        android:configChanges="orientation|screenSize|keyboardHidden|screenLayout|smallestScreenSize"
        android:exported="false"
        android:theme="@style/Theme.DroidVM.NoActionBar"
        android:windowSoftInputMode="adjustNothing" />

    <activity
        android:name=".ui.vm.pkg.imports.VMPkgImportActivity"
        android:label="@string/vmpkg_import_title"
        android:configChanges="orientation|screenSize|keyboardHidden|screenLayout|smallestScreenSize"
        android:exported="true"
        android:theme="@style/Theme.DroidVM.NoActionBar"
        android:windowSoftInputMode="adjustNothing">

        <intent-filter android:label="@string/vmpkg_import_title">
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.DEFAULT" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:mimeType="*/*" />
        </intent-filter>

        <intent-filter android:label="@string/vmpkg_import_title">
            <action android:name="android.intent.action.SEND" />
            <category android:name="android.intent.category.DEFAULT" />
            <data android:mimeType="*/*" />
        </intent-filter>

    </activity>

    <!-- ========================================================= -->
    <!-- Disk                                                       -->
    <!-- ========================================================= -->

    <activity
        android:name=".ui.disk.lxc.ImportLxcImagesActivity"
        android:configChanges="orientation|screenSize|keyboardHidden|screenLayout|smallestScreenSize"
        android:exported="false"
        android:theme="@style/Theme.DroidVM.NoActionBar"
        android:windowSoftInputMode="adjustNothing" />

    <activity
        android:name=".ui.disk.lxc.CreateLinuxVmActivity"
        android:configChanges="orientation|screenSize|keyboardHidden|screenLayout|smallestScreenSize"
        android:exported="false"
        android:theme="@style/Theme.DroidVM.NoActionBar"
        android:windowSoftInputMode="adjustNothing" />

    <activity
        android:name=".ui.disk.images.ImportImagesActivity"
        android:configChanges="orientation|screenSize|keyboardHidden|screenLayout|smallestScreenSize"
        android:exported="false"
        android:theme="@style/Theme.DroidVM.NoActionBar"
        android:windowSoftInputMode="adjustNothing" />

    <activity
        android:name=".ui.disk.download.ImportURLActivity"
        android:configChanges="orientation|screenSize|keyboardHidden|screenLayout|smallestScreenSize"
        android:exported="false"
        android:theme="@style/Theme.DroidVM.NoActionBar"
        android:windowSoftInputMode="adjustNothing" />

    <activity
        android:name=".ui.disk.operation.DiskOperationActivity"
        android:configChanges="orientation|screenSize|keyboardHidden|screenLayout|smallestScreenScreenSize"
        android:exported="false"
        android:theme="@style/Theme.DroidVM.NoActionBar.Dark"
        android:windowSoftInputMode="adjustNothing" />

    <activity
        android:name=".ui.disk.create.DiskCreateActivity"
        android:configChanges="orientation|screenSize|keyboardHidden|screenLayout|smallestScreenSize"
        android:exported="false"
        android:theme="@style/Theme.DroidVM.NoActionBar"
        android:windowSoftInputMode="adjustNothing" />

    <activity
        android:name=".ui.disk.info.DiskInfoActivity"
        android:configChanges="orientation|screenSize|keyboardHidden|screenLayout|smallestScreenSize"
        android:exported="false"
        android:theme="@style/Theme.DroidVM.NoActionBar"
        android:windowSoftInputMode="adjustNothing" />

    <!-- ========================================================= -->
    <!-- Agent                                                       -->
    <!-- ========================================================= -->

    <activity
        android:name=".ui.agent.password.ChangePasswordActivity"
        android:configChanges="orientation|screenSize|keyboardHidden|screenLayout|smallestScreenSize"
        android:exported="false"
        android:theme="@style/Theme.DroidVM.NoActionBar"
        android:windowSoftInputMode="adjustNothing" />

    <activity
        android:name=".ui.agent.AgentOperationActivity"
        android:configChanges="orientation|screenSize|keyboardHidden|screenLayout|smallestScreenSize"
        android:exported="false"
        android:theme="@style/Theme.DroidVM.NoActionBar.Dark"
        android:windowSoftInputMode="adjustNothing" />

    <!-- ========================================================= -->
    <!-- Notes                                                       -->
    <!-- ========================================================= -->

    <activity
        android:name=".ui.vm.notes.VMNotesActivity"
        android:configChanges="orientation|screenSize|keyboardHidden|screenLayout|smallestScreenSize"
        android:exported="false"
        android:theme="@style/Theme.DroidVM.NoActionBar"
        android:windowSoftInputMode="adjustResize" />

    <!-- ========================================================= -->
    <!-- Network                                                     -->
    <!-- ========================================================= -->

    <activity
        android:name=".ui.network.edit.NetworkEditActivity"
        android:configChanges="orientation|screenSize|keyboardHidden|screenLayout|smallestScreenSize"
        android:exported="false"
        android:theme="@style/Theme.DroidVM.NoActionBar"
        android:windowSoftInputMode="adjustNothing" />

    <activity
        android:name=".ui.network.info.NetworkInfoActivity"
        android:configChanges="orientation|screenSize|keyboardHidden|screenLayout|smallestScreenSize"
        android:exported="false"
        android:theme="@style/Theme.DroidVM.NoActionBar"
        android:windowSoftInputMode="adjustNothing" />

    <activity
        android:name=".ui.network.info.NetworkToolLogActivity"
        android:configChanges="orientation|screenSize|keyboardHidden|screenLayout|smallestScreenSize"
        android:exported="false"
        android:theme="@style/Theme.DroidVM.NoActionBar"
        android:windowSoftInputMode="adjustNothing" />

    <!-- ========================================================= -->
    <!-- Logs                                                        -->
    <!-- ========================================================= -->

    <activity
        android:name=".ui.logs.LogsActivity"
        android:configChanges="orientation|screenSize|keyboardHidden|screenLayout|smallestScreenSize"
        android:exported="false"
        android:theme="@style/Theme.DroidVM.NoActionBar"
        android:windowSoftInputMode="adjustNothing" />

    <!-- ========================================================= -->
    <!-- Huge pages                                                  -->
    <!-- ========================================================= -->

    <activity
        android:name=".ui.hugepage.HugePageActivity"
        android:configChanges="orientation|screenSize|keyboardHidden|screenLayout|smallestScreenSize"
        android:exported="true"
        android:theme="@style/Theme.DroidVM.NoActionBar"
        android:windowSoftInputMode="adjustNothing" />

    <activity
        android:name=".ui.hugepage.HugePageAdvancedActivity"
        android:configChanges="orientation|screenSize|keyboardHidden|screenLayout|smallestScreenSize"
        android:exported="false"
        android:theme="@style/Theme.DroidVM.NoActionBar"
        android:windowSoftInputMode="adjustNothing" />

    <activity
        android:name=".ui.hugepage.HugePageProcessActivity"
        android:configChanges="orientation|screenSize|keyboardHidden|screenLayout|smallestScreenSize"
        android:exported="false"
        android:theme="@style/Theme.DroidVM.NoActionBar"
        android:windowSoftInputMode="adjustNothing" />

    <!-- ========================================================= -->
    <!-- FileProvider                                                -->
    <!-- ========================================================= -->

    <provider
        android:name="androidx.core.content.FileProvider"
        android:authorities="${applicationId}.fileprovider"
        android:exported="false"
        android:grantUriPermissions="true">

        <meta-data
            android:name="android.support.FILE_PROVIDER_PATHS"
            android:resource="@xml/file_paths" />

    </provider>

    <!-- ========================================================= -->
    <!-- Services                                                    -->
    <!-- ========================================================= -->

    <service
        android:name=".lib.download.DiskDownloadService"
        android:exported="false"
        android:foregroundServiceType="dataSync" />

    <service
        android:name=".lib.peripheral.PeripheralForegroundService"
        android:exported="false"
        android:foregroundServiceType="camera" />

</application>

</manifest>
